body{
    padding-left: 20%;
    padding-right: 20%;
    
}
h1, h2, h3, strong, bold{color:plum}
h1, h3{text-align: center}
h2{text-align: right;
text-decoration-line:underline;
text-decoration-color: lightslategray }
hr{color:lightslategray;
    border-top: dotted 1px;
    width:50%
}
p{color: darkslategray;
font-family: Georgia, Serif}